backports.shutil-get-terminal-size==1.0.0
bidict==0.17.2
bitstring==3.1.5
cffi==1.11.5
click==6.7
cp2130==1.1.1
decorator==4.3.0
enum34==1.1.6
Flask==1.0.2
ipython==7.16.3
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
libusb==1.0.22b1
libusb1==1.6.4
MarkupSafe==1.0
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
pyusb==1.0.2
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
