<html>
  <head>
    <script type="text/javascript" src="/static/js/blinky.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <h2>Blinky</h2>
      <button type="button" id="btnGreen" class="btn btn-default" onClick="blink_green()">green</button>
      <button type="button" id="btnRed" class="btn btn-default" onClick="blink_red()">red</button>
      <button type="button" id="btnBlue" class="btn btn-default" onClick="blink_blue()">blue</button>
  </body>
</html>
